body, html {
    text-align: center;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.center {
    text-align: center;
}

button {
    border-radius: 10px;
    padding: auto;
    margin: 10px;
}