.App {
  margin-bottom:10px;
  box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display:flex;
  flex-direction:column;
  align-items:left;
  justify-content:center;
  font-size:calc(10px + 2vmin);
}

.cns {
  color:#1485EE;
  margin-left:170px;
  font-family:inter;
  font-weight:bold;
  position:relative;
  margin-top:15px;
  margin-bottom:15px;
}

.in {
  color:black;
  margin-right:150px;
  position:absolute;
  text-align:right;
  margin-left:1010px;
  font-size:16px;
} .in2 {
  color:black;
  margin-right:100px;
  display:flex;
  position:absolute;
  text-align:right;
  margin-left:1120px;
  font-size:16px;
}

.box {
  width:430px;
  height:530px;
  border-radius:10px;
  border:1px solid #C1C1C1;
  align-items:center;
  margin-left:35%;
}

.please {
  margin-left:10%;
}

.login {
  color:#1485EE;
  font-family:Inter;
  font-size:14px;
  font-style:normal;
  font-weight:700;
  line-height:normal;
  margin-bottom:2px;
}

#login {
  width:330px;
  height:32px;
  border-radius:10px;
  border:1px solid #c1c1c1;
  align-items:center;
  font-weight:bold;
}
.care {
  color:#1485EE;
  font-family:Inter;
  font-size:20px;
  font-style:normal;
  font-weight:700;
  line-height:normal;
  text-align:center;
  margin-top:75px;
  margin-bottom:5px;
}

.lo {
  color:#000;
  font-family:Inter;
  font-size:32px;
  font-style:normal;
  font-weight:700;
  line-height:normal;
  text-align:center;
  margin-top:5px;
  margin-bottom:70px;
}

.realLogin {
  width:160px;
  height:40px;
  border-radius:50px;
  background:#1485EE;
  color:#fff;
  font-weight:bold;
  position:relative;
  align-items:center;
  margin-top:35px;
  margin-left:23%;
}

#Gyejung {
  color:#1485EE;
  font-family:Inter;
  font-size:12px;
  font-style:normal;
  font-weight:700;
  line-height:normal;
  margin-bottom:60px;
  text-align:center;
  margin-right:11%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}